* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

  }

  p{
    color: black;
    margin: 20px;
    font-size: 35px;
  }

  h1{
    color: black;
    margin: 20px;
    font-size: 50px;
    font-weight: bold;
  }
  
  .redirect{
    color: dodgerblue;
  }